.menu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    z-index: 9999;    
    border-right: 1px solid #eeeeee;
}

.header{
    height: var(--header-hight);
    min-height: var(--header-hight);
    box-sizing: border-box;
    padding: 40px 25px 10px 30px;
}

.logo{
    width: 135px;
}

.content {
    padding: 10px 25px 40px 30px;  
    flex: 1;
    overflow-y: auto;
}

.content > ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

.content a{
    text-decoration: none;
    color: #383838;
}

.doc{
    line-height: 40px;
    display: flex;
    align-items: center;    
}

.doc > img{
    width: 29px;
    height: 26px;    
    margin-right: 13px;
}

.active{
    /* background-color: red; */
}


.active + .section {
    display: block;
}
 
.section {
    display: none; 
}

.categories{
    list-style-type: none;
    padding:0;
    margin: 0;       
}

.content a.category{
    line-height: 25px;
    text-transform: uppercase;
    font-size: 13px;
    color: #172d58;
    font-weight: 700;
}

.section.categories > li{
    margin: 8px 0;
}

.sections{
    list-style-type: none;
    padding:0;
    margin: 0; 
}

.section.sections > li a{
    line-height: 26px;
    color: #687386;
    font-size: 15px;
    display: block;
    margin: 5px 0;
}

.section.sections > li a.active{
    color: #316fea;
}

.section.sections > li a:hover{
    color: #316fea;
}

.posts{
    list-style-type: none;
    padding:0;
    margin: 0; 
    margin: 7px 0;
}

.section.posts > li a{
    line-height: 28px;
    color: #687386;
    font-size: 15px;
    display: block;
    padding-left: 23px;
    border-left: 3px solid #e2ecff;    
    margin: 0;
}

.section.posts > li a.active{
    border-left: 3px solid #316fea;    
}